@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    height: 100vh;
    background-image: linear-gradient(to right,rgb(2, 1, 5), rgb(8, 6, 34),rgb(24, 17, 70), rgb(40, 33, 78), rgb(45, 29, 116));
}

header {
    width: 100%;
    position: absolute;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid white;

}

.logo {
    font-size: 20px;
    font-weight: bolder;
    opacity: 0.9;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.301);

}

.logo:hover {
    opacity: 1;
}

.menu a {
    font-weight: bold;
    opacity: 0.9;
    padding: 5px 8px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.301);
}

.menu a:hover {
    opacity: 1;
    background-color: #3e1758;
    border-radius: 8px;
}

.menu {
    display: flex;
    gap: 12px;
    align-items: center;
}

/* MAIN */

.conteudo {
    height: 100vh;
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image:  url();
    background-size: cover;
    
}

.texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 40%;
}

.texto h1 {
    font-size: 30px;
    font-weight: bolder;
    align-self: auto;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.301);
}

.texto p {
    text-align: justify;
}

.texto a {
    align-self: flex-end;
    background-color: #4a1c68;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.363);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.301);
    border-radius: 8px;
    padding: 12px 22px;
}

.conteudo2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.conteudo2 h1 {
    text-align: center;
}

.imagem02 {
    order: 1;
}


.formulario {
    order: 2;
}
